{% extends 'user/main.html' %} {% block content %}

<div class="row">
    <div class="col-md-6">
        <h5>Personal Information:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Entry</th>
                    <th>Value</th>
                </tr>
                {% for i in info %}
                <tr>
                    <th></th>
                    <th>{{i.name}}</th>
                    <th>{{i.phone}}</th>
                    <th> <a class="btn btn-primary btn-sm" href="{% url 'update_info' i.id %}">Update Information</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h5>Last 5 tracing records</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_record' %}">Add Records</a>
            <table class="table table-sm">
                <tr>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th>Remove</th>
                </tr>
                {% for r in records %}
                <tr>
                    <th>{{r.phone}}</th>
                    <th>{{r.date}}</th>
                    <th>{{r.time}}</th>
                    <th>{{r.location}}</th>
                    <th>{{r.address}}</th>
                    <th><a class="btn btn-primary btn-sm btn-block" href="{% url 'delete_record' r.id %}">Delete</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Stay Home Records</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_stayhomerecord_admin' %}">Add Stay Home Record</a>
            <table class="table table-sm">
                <tr>
                    <th>Time Uploaded</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                {% for r in stayhomerecords %}
                <tr>
                    <th>{{r.time_uploaded}}</th>
                    <th>{{r.location}}</th>
                    <th>{{r.address}}</th>
                    <th><a class="btn btn-primary btn-sm btn-block" href="{% url 'view_stayhomerecord' r.id %}">View</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h5>Contacting records</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_record' %}">Add Records</a>
            <table class="table table-sm">
                <tr>
                    <th>Speader</th>
                    <th>Affected</th>
                </tr>
                {% for r in contacts %}
                <tr>
                    <th>{{r.user1_id}}</th>
                    <th>{{r.user2_id}}</th>
                    <th><a class="btn btn-primary btn-sm btn-block" href="{% url 'delete_record' r.id %}">Delete</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}