{% extends 'user/main.html' %} {% block content %}
<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-md-6">
        <br>
        <h5>Personal Information</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow: auto">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_info' info.id %}">Update Information</a>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>{{info.name}}</th>
                </tr>
                <tr>
                    <th>Phone</th>
                    <th>{{info.phone}}</th>
                </tr>
                <tr>
                    <th>Age</th>
                    <th>{{info.age}}</th>
                </tr>
                <tr>
                    <th>Location</th>
                    <th>{{info.location}}</th>
                </tr>
                <tr>
                    <th>Address</th>
                    <th>{{info.address}}</th>
                </tr>
                <tr>
                    <th>Test result</th>
                    <th>{{info.test_result}}</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <br>
        <h5>Your tracing records</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow: auto">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_record' %}">Add Records</a>
            <table class="table table-sm">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Address</th>
                </tr>
                {% for r in records %}
                <tr>
                    <th>{{r.date}}</th>
                    <th>{{r.time}}</th>
                    <th>{{r.location}}</th>
                    <th>{{r.address}}</th>
                    <th><a class="btn btn-primary btn-sm btn-block" href="{% url 'delete_record' r.id %}">Delete</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
<div class="row">
    <hr>
</div>

<div class="row">
    <div class="col-md-6">
        <br>
        <h5>Stay Home Records</h5>
        <hr>
        <div class="card card-body" style="height: 500px; overflow: auto">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_stayhomerecord' info.id %}">Add Stay Home Record</a>
            <table class="table table-sm">
                <tr>
                    <th>Time Uploaded</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                {% for r in stayhomerecords %}
                <tr>
                    <th>{{r.time_uploaded}}</th>
                    <th>{{r.location}}</th>
                    <th>{{r.address}}</th>
                    <th><a class="btn btn-primary btn-sm btn-block" href="{% url 'view_stayhomerecord' r.id %}">View</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock content %}